.App {
  text-align: center;
}


.App-header {
  background-color: #f7faff;
  min-height: 100vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
  font-size: calc(10px + 2vmin);
  color: rgb(20, 18, 18);
}

.App-form {
  margin: 25px;
  padding: 10px;
}

.App-form-button
{
  padding: 10px 25px;
  background-color: green;
  color: white;
}


